################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolElectionApp/.vs/SchoolElectionApp
/SchoolElectionApp/angularapp/obj/Debug
/SchoolElectionApp/webapi/bin/Debug/net7.0
/SchoolElectionApp/webapi/obj
